.btn{
  all:unset;
  background-color: black;
  color:white;
  font-family: sans-serif;
  font-size: 16px;
  cursor:pointer;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
}

.paymentContainer{
  max-width: 400px;
  margin:40px auto;
  padding:24px;
  background-color: white;
  border-radius: 10px;
  font-family:sans-serif;
  box-shadow: 0 2px 10px;
}

.title{
  font-size: 24px;
  font-weight: bold;
}

.subtitle{
  color:#777;
  font-size: 18px;
}

.paymentForm{
  display: flex;
  flex-direction: column;
  gap:16px;

}

.formGroup{
  display: flex;
  flex-direction: column;
}

.formGroup label{
  margin-bottom: 10px;
  font-weight: bold;
}

.formGroup input{
  padding: 5px;
  font-size:14px;
  border:1px solid;
  border-radius: 6px;
}

.selectContainer{
  display: flex;
  flex-direction: row;

}